/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-apelsin-person {
	border: 1px dotted #f00;
}

.block-editor-plain-text {
	// background-color: #eee;
    outline: 1px solid #f90;
    padding: 4px;
    text-align: center;
	width: fit-content;
}
